.signup-contanier{
    width: 600px;
}
.signup-contanier:hover{
    transform: scale(1.2)
}
.signup-btn{
    margin-top: 1rem;
}
.signup-btn:hover{
    transform: scale(1.1)
}
.signup-form1{
    margin-top: -.1rem;
}