.side-col{
    background-color: #2b3159;
    color: white;
    height: auto;
    min-height: 731px
}
.top-col{
    margin-top: 4rem;
    margin-left: 3rem;
    height: auto;
    background-color: darkgrey;
}
.brand{
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.btn1{
    margin-top: -0rem;
    margin-left: .5rem;
    width: 210px;
}
.btn2{
    margin-top: 2rem;
    margin-left: .5rem;
    width: 210px;
}
.btn3{
    margin-top: 2rem;
    margin-left: .5rem;
    width: 210px;
}
.btn4{
    margin-top: 20rem;
    margin-left: 10rem;
    width: 110px;
}
.button-bundle{
    margin-top: 13rem;
}
body{
    background-color:#e5e5e5;
}
.card-header {
    background-color: #2b3159;
    color: white
}
.card-body{
    color: white;
}
.employee-text{
    margin-bottom: 1.5rem;
    height: 34px;
}
.card:hover{
    transform: scale(1.1);
}
.search-employee{
    color: white;
    margin-top: 12rem;
    margin-left: 15rem;
    height: 300px;
    background-color: #2E2E2E;
}